<!doctype html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Lyrix</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.png">
  </head>
  <style>
    body {
      font-family: Verdana, Geneva, sans-serif;
      color: #222222;
      margin-top: 50px;
      margin-left: 50px;
      background-color:#BBBBBB ;
    }
    #intro{
      width: 80%;
      display: inline-block;
    }
    #top{
      width: 100%;
      display: inline-block;
    }
    #image{
      margin-left: 15px;
      vertical-align: super;
      display: inline-block;
    }

  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="/static/js/lyrix.js"></script>

  <body>
    <div id="top">
      <div id="intro" width="500px">
        <h1>Lyrix</h1>
        <h2>Master Semester Project at LSIR</h2>
        <h3>Olivier Couque & Emma Lejal Glaude - Supervised by Panayiotis Smeros</h3>
        <p>
          This project transfers style from one music genre to another and provides two different approaches to do it. <br>
          Please select the number of words you would like to transfer, then select the First Genre. Depending on this genre, you will have a pre-selected list of songs, pick your favorite! Finally pick the second genre and launch the method of your choice.
        </p>
      </div>

      <div id="image">
        <img src="/static/lyrics.png" width="128" height="128" />
      </div>
    </div>

    <div id="content">
      <form id="input">
        Max number of words to change : <input type="text" id="nb" name="max_nb"/>
        First genre : <select id="genre_1" name="src_genre">
                        <option value="error">---</option>
                        <option value="rock">Rock</option>
                        <option value="pop">Pop</option>
                        <option value="metal">Metal</option>
                        <option value="jazz">Jazz</option>
                        <option value="country">Country</option>
                        <option value="hiphop">Hip Hop</option>
                      </select> <br />

        Input lyrics : <select id="song" name="song">
                        <option value="error">---</option>
                      </select>
        Second genre : <select id="genre_2" name="trg_genre">
                        <option value="error">---</option>
                        <option value="rock">Rock</option>
                        <option value="pop">Pop</option>
                        <option value="metal">Metal</option>
                        <option value="jazz">Jazz</option>
                        <option value="country">Country</option>
                        <option value="hiphop">Hip Hop</option>
                      </select>
        <br />
        <br />
        <input type="button" value="Start MUSE!" onclick="query_muse()"/>
        <input type="button" value="Start Neural Net!" onclick="query_nn()"/>
      </form>

    </div>

    <div id="result" >
      <p margin-top = "30px">
        Your newly computed lyrics are displayed below. You can see the changed words in bold. <br />
      </p>

      <p id="new_lyrics">
        ...
      </p>

    </div>

  </body>

</html>
