<!doctype html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Lyrix</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.png">
  </head>
  <style>
    body {
      font-family: Verdana, Geneva, sans-serif;
      color: #222222;
      margin-top: 50px;
      margin-left: 50px;
      background-color:#BBBBBB ;
    }
    #intro{
      width: 80%;
      display: inline-block;
    }
    #top{
      width: 100%;
      display: inline-block;
    }
    #image{
      margin-left: 15px;
      vertical-align: super;
      display: inline-block;
    }

  </style>
  <script src="/static/js/lyrix.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


  <body>
    <div id="top">
      <div id="intro" width="500px">
        <h1>Lyrix</h1>
        <h2>Master Semester Project at LSIR</h2>
        <h3>Olivier Couque & Emma Lejal Glaude - Supervised by Panayiotis Smeros</h3>
        <p>
          This project mixes the lyrics of 2 songs, from different music genres. <br>
          Please select the song or music genre of both songs.
        </p>
      </div>

      <div id="image">
        <img src="/static/lyrics.png" width="128" height="128" />
      </div>
    </div>

    <div id="content">
      First song : <input type="text" name="song_1"/>
      First genre : <select id="genre_1">
                      <option value="error">---</option>
                      <option value="rock">Rock</option>
                      <option value="classical">Classical</option>
                      <option value="jazz">Jazz</option>
                      <option value="electronic">Electronic</option>
                    </select>

      Second song : <input type="text" name="song_2"/>
      Second genre : <select id="genre_2">
                      <option value="error">---</option>
                      <option value="rock">Rock</option>
                      <option value="classical">Classical</option>
                      <option value="jazz">Jazz</option>
                      <option value="electronic">Electronic</option>
                    </select>

      <input type="button" value="Start !">

      Test with Keras NN :
      <form>
        <input type="text" id="input" name="input_x" />
        <input type="button" value="predict" onclick="queryNN()"/>
      </form>

    </div>

    <div id="result" >
      <p margin-top = "30px">
        Your newly computed result is : <br />
      </p>
      <p id="prediction">

      </p>

      <p id="new_lyrics">
        ...
      </p>

    </div>

  </body>

</html>
